In [1]:
import os

In [2]:
os.chdir('..')

In [3]:
from recoexplainer.data_reader import DataReader
from recoexplainer.config import cfg
from recoexplainer.recommender import Recommender

In [24]:
data = DataReader(**cfg.ml100k)

In [25]:
data.make_consecutive_ids_in_dataset()
data.binarize(3)

In [26]:
data.dataset

       userId  itemId  rating  timestamp
5           5       5     1.0  884182806
7           7       7     1.0  891628467
11         11      11     1.0  879781125
12         12      12     1.0  876042340
16         16      16     1.0  879270459
...       ...     ...     ...        ...
99988     427      91     1.0  892241344
99989     489     194     1.0  888637503
99990     803     518     1.0  882388897
99991     670    1167     1.0  892685437
99996     708     247     1.0  879795543

[55375 rows x 4 columns]

In [27]:
from recoexplainer.evaluator import Splitter

In [28]:
sp = Splitter(data)

In [29]:
train, test = sp.split_leave_n_out(data, frac=.1)

In [31]:
train.dataset

       userId  itemId  rating  timestamp
0           5       5     1.0  884182806
3          12      12     1.0  876042340
4          16      16     1.0  879270459
5          18      18     1.0  874834944
6          20      20     1.0  886176814
...       ...     ...     ...        ...
55370     427      91     1.0  892241344
55371     489     194     1.0  888637503
55372     803     518     1.0  882388897
55373     670    1167     1.0  892685437
55374     708     247     1.0  879795543

[49831 rows x 4 columns]

In [32]:
from recoexplainer.models import ALS

In [33]:
als = ALS(**cfg.model.als)

In [34]:
als.fit(train)

/opt/anaconda3/envs/recoexplainer/lib/python3.6/site-packages/scipy/sparse/_index.py:125: SparseEfficiencyWarning: Changing the sparsity structure of a csr_matrix is expensive. lil_matrix is more efficient.
  self._set_arrayXarray(i, j, x)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

True

In [43]:
rec = Recommender(train, als)

In [44]:
recommendations = rec.recommend_all()

HBox(children=(HTML(value='Recommending for users: '), FloatProgress(value=0.0, max=942.0), HTML(value='')))

In [45]:
from recoexplainer.evaluator import Evaluator

In [46]:
evaluator = Evaluator(test)

In [47]:
evaluator.cal_ndcg(recommendations)

0.14585240582778053